@import "./_active/elements__heart_active.css";

.photo-grid__heart {
  color: #000000;
  transition-duration: 0.4s;
  cursor: pointer;
  background-image: url(../../../images/heart.svg);
  background-repeat: no-repeat;
  display: flex;
  justify-self: flex-end;
  width: 20.76px;
  height: 18.13px;
  padding: 0;
}
.photo-grid__heart:hover {
  opacity: 0.5;
}
