.photo-grid__heart {
  color: #000000;
  transition-duration: 0.4s;
  cursor: pointer;
  background-image: url(../../../images/heart.svg);
  background-color: white;
  border: none;
  background-repeat: no-repeat;
  display: flex;
  justify-self: flex-end;
  width: 22px;
  height: 18px;
}
.photo-grid__heart:hover {
  opacity: 0.5;
}
