@import "./__logo/header__logo.css";

.header {
  display: flex;
  margin: 0 auto;
  align-items: flex-start;
  justify-content: space-between;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media only screen and (min-width: 880px) {
  .header {
    max-width: 880px;
  }
}

@media only screen and (min-width: 320px) and (max-width: 879px) {
  .header {
    max-width: 320px;
    flex-direction: column;
  }
}
