.profile__add-button {
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  width: 150px;
  height: 50px;
  margin-left: 152px;
  transition-duration: 0.3s;
  cursor: pointer;
  background: url(../../../images/add-button.svg) center no-repeat;
}
.profile__add-button:hover {
  opacity: 0.6;
}

@media only screen and (min-width: 320px) and (max-width: 879px) {
  .profile__add-button {
    width: 282px;
    align-self: flex-end;
  }
}
