.profile__description {
  margin: 0;
  padding-top: 16px;
  font-size: 18px;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 380px;
  font-weight: 400;
}

@media only screen and (min-width: 320px) and (max-width: 879px) {
  .profile__description {
    padding-top: 10px;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 17px;
    max-width: 162px;
  }
}
