.modal__close-btn {
  background-image: url(../../../images/close.svg);
  height: 55px;
  width: 55px;
  background-size: contain;
  background-color: transparent;
  color: #fff;
  border: none;
  font-size: 5em;
  font-weight: 400;
  position: absolute;
  top: -47px;
  right: -45px;
  cursor: pointer;
}
.modal__close-btn:hover {
  opacity: 0.6;
}

@media screen and (min-width: 320px) and (max-width: 879px) {
  .modal__close-btn {
    height: 35px;
    width: 35px;
    position: absolute;
    top: -50px;
    right: 22px;
  }
}
